html {
    overflow: hidden;
}

html, body, body > * {
    height: 100%;
}

body {
    position: relative;
}
body * {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body > * {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

/* ---- */

.home-page .grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 5vw;

    width: 90vw;
    height: 90vw;
    margin: 2.5vw;
}

.home-page .grid > .grid-icon {
    width: 100%;
    height: 100%;

    justify-self: center;
    align-self: center;
}

.home-page .grid-icon {
    position: relative;
    display: flex;
    flex-direction: column;

    border-radius: 10%;
    background-color: #33443355;
}

.home-page .grid-icon > [data-prefix="fas"] {
    flex-grow: 1;
    align-self: center;
    justify-self: center;
}

.home-page .grid-icon > span {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    font-size: 6vw;
    text-transform: uppercase;
}

/* ---- */

.tab-content-panel, .tab-content-panel > * {
    height: 100%;
}

.state-page,
.collection-page {
    box-sizing: padding-box;
    -moz-box-sizing: padding-box;
    -webkit-box-sizing: padding-box;
    padding-top: 41px;
}

.tabs {
    margin-top: -41px;
    margin-bottom: 0 !important;
}

/* ---- */

.state-page .objective-tab {
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
    align-content: start;

    overflow-y: scroll;
}

/* Adds a bit of space before the first object and after the last one */
.state-page .objective-tab::before,
.state-page .objective-tab::after {
    content: '.';
    color: #00000000;
    font-size: 5%;
    height: 5%;
}

.state-page .objective-tab > * {
    width: 90%;
    margin-left: 5%;
}

.state-page .objective-component .card {
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
}

.state-page .objective-component .card-content {
    transition: max-height .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    padding: 0;
    overflow-y: hidden;
}
.state-page .objective-component .card-content .content {
    padding: 24px;
}

.state-page .objective-component .card-header {
    box-shadow: none;
}

.state-page .card-header-icon:first-child {
    border-radius: 0 0 0 15px;
    font-size: 1.7em;
}

.state-page .card-header-icon:last-child {
    border-radius: 0 0 15px 0;
    font-size: 1.7em;
}

.state-page .card-header > *:not(:first-child) {
    box-shadow: 0 1px 2px rgba(10,10,10,.1);
    background: rgba(0, 0, 0, .025);
}

.state-page .stick-tab {
    display: grid;
    grid-template-rows: 72px auto 50px;
}

.state-page .stick-tab .stick-grid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50% 50%;
    gap: 20% 0;
    justify-items: center;

    width: 100%;
    padding: 2.5% 5% 5% 5%;

    border-bottom: 1px solid rgba(10, 10, 10, .1);
}

.state-page .inventory-grid {
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
    align-content: start;

    overflow-y: scroll;
}
.state-page .inventory-grid > * {
    width: 90%;
    margin-left: 5%;
}
/* Adds a bit of space before the first object and after the last one */
.state-page .inventory-grid::before,
.state-page .inventory-grid::after {
    content: '.';
    color: #00000000;
    font-size: 5%;
    height: 5%;
}

.state-page .inventory-category-selector-component .card {
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
}
.state-page .inventory-category-selector-component .card-header {
    box-shadow: none;
}
.state-page .inventory-category-selector-component .card-content {
    transition: max-height .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    padding: 0;
    overflow-y: hidden;
}
.state-page .inventory-category-selector-component .card-content .content {
    display: grid;
    grid-template-columns: auto 64px 48px;
    gap: 0 5px;
    
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
}
.state-page .inventory-category-selector-component .card-content .content > .align-center {
    text-align: center;
}

.state-page .break-button-panel {
    text-align: center;
    border-top: 1px solid rgba(10, 10, 10, .1);
}
.state-page .break-button {
    pointer-events: none;
    color: rgb(255, 255, 255, 0.9);
    background-color: rgb(173, 173, 173);

    border-radius: 15px;
    padding: 0 10%;
    font-size: 32px;

    transition: color linear .3s, background-color linear .3s;
}
.state-page .break-button.enabled {
    pointer-events: all;
    color: rgb(255, 255, 255, 0.9);
    background-color: rgb(23, 15, 156);
}

/* ---- */

span.stick-type {
    font-weight: bold;
}

/* ---- */

.horizontal-line {
    width: 100%;
    border-bottom: 1px solid rgba(10, 10, 10, .1);
}

/* ---- */

.category-icon {
    color: rgb(10, 10, 10, 0.45);
    background-color: rgb(172, 172, 172);

    transition: color linear .3s, background-color linear .3s;
}

.category-icon.type-0 {
    color: rgb(255, 255, 255, 0.80);
    background-color: rgb(209, 182, 26);
}

.category-icon.type-1 {
    color: rgb(255, 255, 255, 0.80);
    background-color: rgb(203, 31, 28);
}

.category-icon.type-2 {
    color: rgb(255, 255, 255, 0.80);
    background-color: rgb(31, 198, 78);
}

.category-icon.type-3 {
    color: rgb(255, 255, 255, 0.80);
    background-color: rgb(52, 63, 4);
}

.category-icon.type-4 {
    color: rgb(255, 255, 255, 0.80);
    background-color: rgb(24, 126, 209);
}

/* ---- */

/* Adds a bit of space before the first object and after the last one */
.collection-page .collection-grid::before,
.collection-page .collection-grid::after {
    content: '.';
    color: #00000000;
    font-size: 5%;
    height: 5%;
}

.collection-page .collection-grid {
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
    height: 100%;
    align-content: start;

    padding: 0 5%;
    overflow-y: scroll;
}

/* ---- */

.inventory-collection-display-component .card,
.inventory-collection-display-component .card-header {
    border-radius: 15px;
    overflow: hidden;
}

.inventory-collection-display-component .card-content {
    padding: 0;

    transition: max-height .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.inventory-collection-display-component .card-content .content {
    display: grid;
    grid-template-columns: 45% 45% 10%;
    
    padding: 5px 15px;
}

.inventory-collection-display-component .card-content .align-center {
    text-align: center;
}


