html {
    overflow: hidden;
}

html, body, body > * {
    height: 100%;
}

body {
    position: relative;
}
body * {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body > * {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

/* ---- */

.home-page .grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 5vw;

    width: 90vw;
    height: 90vw;
    margin: 2.5vw;
}

.home-page .grid > .grid-icon {
    width: 100%;
    height: 100%;

    justify-self: center;
    align-self: center;
}

.home-page .grid-icon {
    position: relative;
    display: flex;
    flex-direction: column;

    border-radius: 10%;
    background-color: #33443355;
}

.home-page .grid-icon > [data-prefix="fas"] {
    flex-grow: 1;
    align-self: center;
    justify-self: center;
}

.home-page .grid-icon > span {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    font-size: 6vw;
    text-transform: uppercase;
}

/* ---- */

.tab-content-panel, .tab-content-panel > * {
    height: 100%;
}

.state-page,
.collection-page {
    box-sizing: padding-box;
    -moz-box-sizing: padding-box;
    -webkit-box-sizing: padding-box;
    padding-top: 41px;
}

.tabs {
    margin-top: -41px;
    margin-bottom: 0 !important;
}

/* ---- */

.state-page .objective-tab {
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
    align-content: start;

    overflow-y: scroll;
}

/* Adds a bit of space before the first object and after the last one */
.state-page .objective-tab::before,
.state-page .objective-tab::after {
    content: '.';
    color: #00000000;
    font-size: 5%;
    height: 5%;
}

.state-page .objective-tab > * {
    width: 90%;
    margin-left: 5%;
}

.state-page .objective-component .card {
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
}

.state-page .objective-component .card-content {
    transition: max-height .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    padding: 0;
    overflow-y: hidden;
}
.state-page .objective-component .card-content .content {
    padding: 24px;
}

.state-page .objective-component .card-header {
    box-shadow: none;
}

.state-page .card-header-icon:first-child {
    border-radius: 0 0 0 15px;
    font-size: 1.7em;
}

.state-page .card-header-icon:last-child {
    border-radius: 0 0 15px 0;
    font-size: 1.7em;
}

.state-page .card-header > *:not(:first-child) {
    box-shadow: 0 1px 2px rgba(10,10,10,.1);
    background: rgba(0, 0, 0, .025);
}

.state-page .stick-tab {
    display: grid;
    grid-template-rows: 72px auto 50px;
}

.state-page .stick-tab .stick-grid {
    width: 100%;

    border-bottom: 1px solid rgba(10, 10, 10, .1);
}
.state-page .inventory-grid {
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
    align-content: start;

    overflow-y: scroll;
}
.state-page .inventory-grid > * {
    width: 90%;
    margin-left: 5%;
}
/* Adds a bit of space before the first object and after the last one */
.state-page .inventory-grid::before,
.state-page .inventory-grid::after {
    content: '.';
    color: #00000000;
    font-size: 5%;
    height: 5%;
}

.state-page .inventory-category-selector-component .card {
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
}
.state-page .inventory-category-selector-component .card-header {
    box-shadow: none;
}
.state-page .inventory-category-selector-component .card-content {
    transition: max-height .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    padding: 0;
    overflow-y: hidden;
}
.state-page .inventory-category-selector-component .card-content .content {
    display: grid;
    grid-template-columns: auto 64px 48px;
    gap: 0 5px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
}
.state-page .inventory-category-selector-component .card-content .content > .align-center {
    text-align: center;
}

.state-page .break-button-panel {
    text-align: center;
    border-top: 1px solid rgba(10, 10, 10, .1);
}
.state-page .break-button {
    pointer-events: none;
    color: rgb(255, 255, 255, 0.9);
    background-color: rgb(173, 173, 173);

    border-radius: 15px;
    padding: 0 10%;
    font-size: 32px;

    transition: color linear .3s, background-color linear .3s;
}
.state-page .break-button.enabled {
    pointer-events: all;
    color: rgb(255, 255, 255, 0.9);
    background-color: rgb(23, 15, 156);
}

/* ---- */

span.stick-type {
    font-weight: bold;
}

/* ---- */

.horizontal-line {
    width: 100%;
    border-bottom: 1px solid rgba(10, 10, 10, .1);
}

/* ---- */

.icon-category {
    color: rgb(10, 10, 10, 0.45);
    background-color: rgb(172, 172, 172);

    transition: color linear .3s, background-color linear .3s;
}

.icon-category.type-0 {
    color: rgb(255, 255, 255, 0.80);
    background-color: rgb(209, 182, 26);
}

.icon-category.type-1 {
    color: rgb(255, 255, 255, 0.80);
    background-color: rgb(203, 31, 28);
}

.icon-category.type-2 {
    color: rgb(255, 255, 255, 0.80);
    background-color: rgb(31, 198, 78);
}

.icon-category.type-3 {
    color: rgb(255, 255, 255, 0.80);
    background-color: rgb(52, 63, 4);
}

.icon-category.type-4 {
    color: rgb(255, 255, 255, 0.80);
    background-color: rgb(24, 126, 209);
}

/* ---- */

/* Adds a bit of space before the first object and after the last one */
.collection-page .collection-grid::before,
.collection-page .collection-grid::after {
    content: '.';
    color: #00000000;
    font-size: 5%;
    height: 5%;
}

.collection-page .collection-grid {
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
    height: 100%;
    align-content: start;

    padding: 0 5%;
    overflow-y: scroll;
}

/* ---- */

.inventory-collection-display-component .card,
.inventory-collection-display-component .card-header {
    border-radius: 15px;
    overflow: hidden;
}

.inventory-collection-display-component .card-content {
    padding: 0;

    transition: max-height .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.inventory-collection-display-component .card .card-header .icon-category {
    font-size: 1.7em;
    transition: none;
}

.inventory-collection-display-component .card-content .content {
    display: grid;
    grid-template-columns: 45% 45% 10%;

    padding: 5px 15px;
}

.inventory-collection-display-component .card-content .align-center {
    text-align: center;
}

/* ---- */

.stick-grid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50% 50%;
    gap: 20% 0;
    justify-items: center;

    padding: 2.5% 5% 5% 5%;
}

/* ---- */

.details-modal-component .card,
.details-modal-component .card-header {
    border-radius: 15px;
    overflow: hidden;
}

.details-modal-component .card {
    width: 90%;
}

.details-modal-component .card .card-header .icon-category {
    font-size: 1.7em;
    transition: none;
}

.details-modal-component .icon-close {
    font-size: 1.7em;
}

.details-modal-component .tag-grid {
    display: grid;
    grid-template-columns: auto 40%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    gap: 1px 0;

    height: 50%;
}

.details-modal-component .card-content {
    height: 100%;
    padding: 5%;
}

.details-modal-component .tag-grid {
    padding: 0 5% 5% 5%;
    border-bottom: 1px solid rgba(10, 10, 10, .1);
}
.details-modal-component .tag-grid .tags {
    align-items: flex-start;
    margin-bottom: 0;
}

.details-modal-component .tag-grid .tags:nth-child(2n) {
    justify-self: flex-end;
}

.details-modal-component .order-panel {
    padding: 5px 5% 0 5%;
}

.details-modal-component .order-number-input {
    display: inline-flex;
}

.details-modal-component .stick-grid {
    padding: 2.5% 0 5% 0;
}

.details-modal-component .place-order-button-panel {
    width: 100%;
    text-align: right;
}
.details-modal-component .place-order-button {
    pointer-events: none;
    color: rgb(255, 255, 255, 0.9);
    background-color: rgb(173, 173, 173);

    border-radius: 5px;
    padding: 2.5px 5%;

    transition: color linear .3s, background-color linear .3s;
}
.details-modal-component .place-order-button.is-active {
    pointer-events: all;
    color: rgb(255, 255, 255, 0.9);
    background-color: rgb(23, 15, 156);
}

.details-modal-component .order-panel-title {
    font-size: 1.3em;
    font-weight: bold;
}

/* ---- */

.objective-component .product-grid {
    display: grid;
    grid-template-columns: auto 64px 48px;
    gap: 0 5px;
}
.objective-component .product-grid > .align-center {
    text-align: center;
}

.objective-component .submit-button-panel {
    text-align: right;
    padding-top: 10px;
}
.objective-component .submit-button {
    pointer-events: none;
    color: rgb(255, 255, 255, 0.9);
    background-color: rgb(173, 173, 173);

    border-radius: 15px;
    padding: 0 10%;
    font-size: 24px;

    transition: color linear .3s, background-color linear .3s;
}
.objective-component .submit-button.enabled {
    pointer-events: all;
    color: rgb(255, 255, 255, 0.9);
    background-color: rgb(23, 15, 156);
}

.objective-component .card-header-title {
    display: inline;
}

.objective-component .objective-category,
.objective-component .objective-maker,
.objective-component .objective-product {
    margin-bottom: 0;
}

/* ---- */

.scanner-modal-component .card {
    width: 90%;
    border-radius: 15px;
    overflow: hidden;
}

.scanner-modal-component video {
    border-radius: 15px;
    overflow: hidden;
}

.scanner-modal-component .scan-overlay {
    content: '.';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: background-color 0.8s linear;
    color: #FFFFFF00;
    background-color: #FFFFFF00;
    border-radius: 15px;
}

.scanner-modal-component .scan-overlay.successful-scan {
    background-color: #FFFFFFFF;
    transition: background-color 0.03s linear;
}

.scanner-modal-component .card-foot {
    text-align: center;
}

.scanner-modal-component .card-content {
    position: relative;
    padding: 0;
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;
}

.scanner-modal-component .card-foot {
    padding: 5px;
}

.scanner-modal-component .scan-counter,
.scanner-modal-component .last-scan {
    position: absolute;
    color: #4A4A4A;
    background-color: #BBC0BB;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.scanner-modal-component .scan-counter {
    top: 0;
    width: 30px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 15px 0 15px 0;
    padding: 0 5px;
}

.scanner-modal-component .last-scan {
    top: -45px;
    left: 50%;
    border: 1px solid black;
    border-radius: 0 0 15px 15px;
    transform: translateX(-50%);
    padding: 0 10px;
    transition: top 0.3s linear;
}

.scanner-modal-component .last-scan.active {
    top: 0;
}

.scanner-modal-component video {
    display: block;
}