<html>
    <head>
        <template id="home-page">
            <div class="home-page" data-controller="homePageController">
                <h1>Restock!</h1>
                <h3 class="list-completion-count" ></h3>
                <div class="grid">
                    <div class="grid-icon" onclick="navigationController.openPage('state-page', { fromRight: true })">
                        <i class="fas fa-clipboard-list" style="width: 40%;"></i>
                        <span>State</span>
                    </div>
                    <div class="grid-icon" onclick="navigationController.openPage('home-page', { fromRight: true })">
                        <i class="fas fa-store" style="width: 55%;"></i>
                        <span>Store</span>
                    </div>
                    <div class="grid-icon" onclick="navigationController.openPage('collection-page', { fromRight: true })">
                        <i class="fas fa-list" style="width: 50%;"></i>
                        <span>Collection</span>
                    </div>
                    <div class="grid-icon" onclick="ScannerModalController.open()">
                        <i class="fas fa-align-justify" style="width: 50%; transform: rotate(90deg);"></i>
                        <span>Scan</span>
                    </div>
                </div>
                <h3>A game by @Delcaw</h3>
            </div>
        </template>        
    </head>
</html>