<html>
    <head>
        <template id="state-page">
            <div class="state-page" data-controller="statePageController">
                <div class="tabs is-centered" style="width: 100%">
                    <ul>
                      <li onclick="navigationController.openPage('home-page', { fromRight: false })"><a>Home</a></li>
                      <li onclick="statePageController.displayListData();"><a>Current list</a></li>
                      <li onclick="statePageController.displayStickData();"><a>Sticks</a></li>
                    </ul>
                </div>
                <div class="tab-content-panel">
                    <div class="objective-tab">
    
                    </div>
                    <div class="stick-tab">
                        <div class="stick-grid"></div>
                        <div class="inventory-grid"></div>
                        <div class="break-button-panel">
                            <a class="break-button">BREAK</a>
                        </div>
                    </div>
                </div>
            </div>
        </template>        
    </head>
</html>