<html>
    <head>
        <template id="state-page">
            <div class="state-page" data-controller="statePageController">
                <div class="tabs is-centered" style="width: 100%">
                    <ul>
                      <li class="is-active"><a>Current list</a></li>
                      <li><a>Sticks</a></li>
                    </ul>
                </div>
                <div class="tab-content-panel">
                    <div class="objective-list">
    
                    </div>
                    <div class="stick-list">
                        
                    </div>
                </div>
            </div>
        </template>        
    </head>
</html>