<html>
<head>
    <template id="details-modal-component">
        <div class="details-modal-component">
            <div class="modal is-active">
                <div class="modal-background"></div>
                <div class="card">
                    <header class="card-header">
                        <a href="#" class="card-header-icon icon-category" aria-label="more options">
                            <span class="icon">
                                
                            </span>
                        </a>
                        <p class="card-header-title">
                            Category
                        </p>
                        <a href="#" class="card-header-icon icon-close" aria-label="more options">
                            <span class="icon">
                                <i class="fas fa-times" aria-hidden="true"></i>
                            </span>
                        </a>
                    </header>
                    <div class="card-content">
                        <div class="tag-grid">
                            <div class="maker tags has-addons">
                                <span class="tag is-primary">Maker</span>
                                <span class="tag "></span>
                            </div>
                            <div class="times-scanned tags has-addons">
                                <span class="tag is-primary"># scanned</span>
                                <span class="tag "></span>
                            </div>

                            <div class="category tags has-addons">
                                <span class="tag is-primary">Category</span>
                                <span class="tag "></span>
                            </div>
                            <div class="times-ordered tags has-addons">
                                <span class="tag is-primary"># ordered</span>
                                <span class="tag "></span>
                            </div>

                            <div class="product-name tags has-addons">
                                <span class="tag is-primary">Product</span>
                                <span class="tag "></span>
                            </div>
                            <div class="times-gifted tags has-addons">
                                <span class="tag is-primary"># gifted</span>
                                <span class="tag "></span>
                            </div>

                            <div class="first-scan tags has-addons">
                                <span class="tag is-primary">First scan</span>
                                <span class="tag "></span>
                            </div>
                            <div class="times-used tags has-addons">
                                <span class="tag is-primary"># submitted</span>
                                <span class="tag "></span>
                            </div>

                            <div class="last-scan tags has-addons">
                                <span class="tag is-primary">Last scan</span>
                                <span class="tag "></span>
                            </div>
                            <div class="times-broken tags has-addons">
                                <span class="tag is-primary"># broken</span>
                                <span class="tag "></span>
                            </div>
                        </div>
                        <div class="order-panel">
                            <h2 class="order-panel-title">Order from maker</h2>
                            <p>
                                <span>Quantity</span>
                                <span class="tags has-addons order-number-input" style="margin-bottom: 0;">
                                    <span class="tag is-dark">
                                        <i class="fas fa-angle-left"></i>
                                    </span>
                                    <span class="tag order-quantity">1</span>
                                    <span class="tag is-dark">
                                        <i class="fas fa-angle-right"></i>
                                    </span>
                                </span>
                                <span class="place-order-button-panel">
                                    <a class="place-order-button">Place order</a>
                                </span>
                            </p>
                            <span>Stick cost</span>
                            <div class="stick-cost-panel"></div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
</head>
</html>