<html>
<head>
    <template id="inventory-category-selector-component">
        <div class="inventory-category-selector-component">
            <div class="card">
                <header class="card-header">
                    <a href="#" class="card-header-icon icon-category" aria-label="more options">
                        <span class="icon">
                            <i class="fas fa-apple-alt" aria-hidden="true"></i>
                        </span>
                    </a>
                    <p class="card-header-title">
                        Category
                    </p>
                    <a href="#" class="card-header-icon icon-dropdown" aria-label="more options">
                        <span class="icon">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </a>
                </header>
                <div class="card-content">
                    <div class="content product-grid"></div>
                </div>
            </div>
        </div>
    </template>
</head>
</html>
