<html>
<head>
    <template id="objective-component">
        <div class="objective-component">
            <div class="card">
                <header class="card-header">
                    <a href="#" class="card-header-icon icon-category" aria-label="more options">
                        <span class="icon">
                            <i class="fas fa-apple-alt" aria-hidden="true"></i>
                        </span>
                    </a>
                    <p class="card-header-title">
                        Component
                    </p>
                    <a href="#" class="card-header-icon icon-dropdown" aria-label="more options">
                        <span class="icon">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </a>
                </header>
                <div class="card-content">
                    <div class="content padding">
                        <p class="objective-description"></p>
                        <div class="objective-category tags has-addons">
                            <span class="tag is-primary"><i class="fas fa-apple-alt"></i></span>
                            <span class="tag"></span>
                        </div>
                        <div class="objective-maker tags has-addons">
                            <span class="tag is-primary"><i class="fas fa-apple-alt"></i></span>
                            <span class="tag"></span>
                        </div>
                        <div class="objective-product tags has-addons">
                            <span class="tag is-primary"><i class="fas fa-apple-alt"></i></span>
                            <span class="tag"></span>
                        </div>
                        <div class="product-grid"></div>
                        <div class="submit-button-panel">
                            <a class="submit-button">SUBMIT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
</head>
</html>
