<html>
<head>
    <template id="scanner-modal-component">
        <div class="scanner-modal-component">
            <div class="modal is-active">
                <div class="modal-background"></div>
                <div class="card">
                    <div class="card-content">
                        <div class="video-container">
                            <video
                                id="video"
                                width="1280"
                                height="960">
                            </video>
                        </div>
                        <div class="scan-overlay">
                            <div class="scan-counter">0</div>
                            <div class="last-scan"></div>
                        </div>
                    </div>
                    <footer class="card-foot">
                        <button class="button is-success close-button">Close</button>
                    </footer>
                </div>
            </div>
        </div>
    </template>
</head>
</html>